<h1>Categorias de carros</h1>
<% if CarCategory.count == 0 %>
    <p> Nenhuma categoria cadastrada <p>
<% end %>
<ul>
  <% @car_categories.each do |c| %>
    <li><%= link_to c.name, car_category_path(id: c.id) %></li>
  <% end %>
</ul>
<%= link_to 'Voltar', root_path %>
<%= link_to 'Registrar categoria', new_car_category_path %>
