<h1>Categorias de carros</h1>
<% if CarCategory.count == 0 %>
  <p> Nenhuma categoria cadastrada <p>
<% end %>
<% @car_categories.each do |c| %>
  <div>
    <h2><%= link_to "Categoria #{c.name}", c %></h2>
    <dl>
      <dt>Valor da Diária</dt>
      <dd><%= number_to_currency c.daily_rate%></dd>
    </dl>
  </div>
<% end %>
<%= link_to 'Voltar', root_path %>
<%= link_to 'Registrar categoria', new_car_category_path %>
