<h1>Fabricantes</h1>
<% if Manufacturer.count == 0 %>
    <p> Nenhum fabricante cadastrado <p>
<% end %>
<ul>
  <% @manufacturers.each do |m| %>
    <li><%= link_to m.name, manufacturer_path(id: m.id) %></li>
  <% end %>
</ul>
<%= link_to 'Voltar', root_path %>
<%= link_to 'Registrar novo fabricante', new_manufacturer_path %>
